.grid {
	display: grid;
	height: 397px;
	width: 642px;
	overflow: hidden;
	grid-template-columns: 130px 100px 1fr;
	grid-template-rows: 77px 1fr auto;
	grid-template-areas:
		"quote quote addons"
		"buttons links interact"
		"function function function";

	background-image: url('./img/topLeaves.png'), url('./img/leftLeaves.png'), url('./img/rightLeaves.png'), url('./img/bottomLeaves.png');
	background-position: top, left, right, bottom;
	background-repeat: no-repeat;
}

.background {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 4;
	background-image: url('./img/topLeaves.png');
	background-repeat: no-repeat;
}

.addonArea {
	grid-area: addons;
	text-align: right;
}

.buttonArea {
	grid-area: buttons;
}

.linksArea {
	grid-area: links;
	display: flex;
	flex-direction: column;
	text-align: center;
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 10pt;
	}
}

.interactArea {
	box-sizing: border-box;
	margin: 5px;
	grid-area: interact;
	background-color: #FFFFC6;
	background-image: url('./img/interactBackground.png');
	background-repeat: no-repeat;
	background-position: center;
}

.functionArea {
	grid-area: function;
	display: flex;
	flex-direction: row;
	button {
		color: white;
		font-weight: bold;
		flex-basis: 100%;
		background-color: transparent;
	}
}
